version: "3"

services:
    server:
        build: ./backend-api
        ports:
        - 8080:8000
        - 8081:8001
        depends_on:
        - postgres
    frontend:
        build: ./frontend
        ports:
        - 3000:3000
        depends_on:
        - server
    postgres:
        container_name: data_base_psql
        build: ./backend-api/schemas
        environment:
          POSTGRES_DB: "cloud_render"
          POSTGRES_USER: "user"
          POSTGRES_PASSWORD: "password"
          PGDATA: "/var/lib/postgresql/data/pgdata"
        volumes:
            #- ./backend-api/schemas/:/docker-entrypoint-initdb.d/
            - dbvolume:/var/lib/postgresql/data
        ports:
          - 5432:5432
volumes:
    dbvolume:
#for service
#
#   - 'volume_name':'path_in_container'
#after specify used volumes
